#### Multi table queries

1. Join


- **다른 테이블과 결합하여 출력**